<div id="footer-placeholder">&nbsp;</div>
<div id="footer">

    <%= link_to root_path, id: "one" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to clothes_path, id: "two" do %>
      <i class="fa-solid fa-shirt"></i>
    <% end %>
     <%= link_to new_clothe_path, class: "three" do %>
      <%= image_tag "https://res.cloudinary.com/dplkc6qh4/image/upload/v1669988101/new_plus_kruuwb.png", class: "navbar-icon" %>
    <% end %>
    <i class="fa-solid fa-heart" id="four"></i>
    <i class="nav-item dropdown" id="five">
      <i class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", pages_path, class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </i>
    </i>
</div>
