
<div class="container" id="carrousel-container">
  <h4> Hello <%=@current_user.email %> </h4>
  <% @categories.each_with_index do |category, id| %>
      <% locked_clothe_for_category = Clothe.locked_in(category.clothes, current_user) %>
      <% if locked_clothe_for_category %>
        <div id="carouselExampleControlsNoTouching-<%=id%>" class="carousel" data-bs-touch="false">
          <div class="carousel-inner">
            <div class="carousel-item active position-relative">
            <%= cl_image_tag locked_clothe_for_category.photo.key, width: 150, class:"mx-auto d-block" %>
            <div class="position-absolute bottom-0 start-50 translate-middle">
                  <%= form_with url: delete_element_path, method: :post do |f| %>
                  <%= f.hidden_field :clothe_id, value: locked_clothe_for_category.id %>
                    <%= image_submit_tag "https://res.cloudinary.com/dplkc6qh4/image/upload/v1669913364/lock_qcm1wk.png"%>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div id="carouselExampleControlsNoTouching-<%=id%>" class="carousel slide" data-bs-touch="false">
          <div class="carousel-inner">
            <% category.clothes.each_with_index do |clothe, clothe_index| %>
              <div class="carousel-item <%=  clothe_index == 0 ? 'active' : '' %>  position-relative">
                <%= cl_image_tag clothe.photo.key, width: 150, class:"mx-auto d-block" %>
                <div class="position-absolute bottom-0 start-50 translate-middle" >
                  <% if clothe.is_locked?(current_user) %>
                    <%= form_with url: delete_element_path, method: :post do |f| %>
                    <%= f.hidden_field :clothe_id, value: clothe.id %>
                    <%= image_submit_tag "https://res.cloudinary.com/dplkc6qh4/image/upload/v1669913354/unlock_trlk6m.png"%>
                    <% end %>
                  <% else %>
                    <%= form_with url: create_element_path, method: :post do |f| %>
                    <%= f.hidden_field :clothe_id, value: clothe.id %>
                    <%= image_submit_tag "https://res.cloudinary.com/dplkc6qh4/image/upload/v1669913354/unlock_trlk6m.png"%>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching-<%=id%>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching-<%=id%>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

  <% end %>

</div>
