<div class="container">


<% @categories.each_with_index do |category, id| %>
  <div id="carouselExampleControlsNoTouching-<%=id%>" class="carousel slide" data-bs-touch="false">
    <h1><%= category.name %></h1>
  <div class="carousel-inner">
    <% category.clothes.each_with_index do |clothe, index| %>
      <div class="carousel-item <%=  index == 0 ? 'active' : '' %>">
       <img src="https://picsum.photos/id/237/536/354" class="d-block w-100" alt="...">
       <div class="text-center">
       <% if clothe.is_locked?(current_user) %>
          <%= form_with url: delete_element_path, method: :post do |f| %>
            <%= f.hidden_field :clothe_id, value: clothe.id %>
            <%= f.submit "Unlocker", class: "btn btn-primary"%>
          <% end %>
        <% else %>
          <%= form_with url: create_element_path, method: :post do |f| %>
            <%= f.hidden_field :clothe_id, value: clothe.id %>
            <%= f.submit "Locker", class: "btn btn-primary"%>
            <% end %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching-<%=id%>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching-<%=id%>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<% end %>
</div>
