<div class="container">
  <div class="d-flex w-50">
  <% @locked_clothes.each do |clothe| %>
      <div class="card mx-2 p-2 rounded">
        <p>
          <%= clothe.categories.first.name + " de couleur " + clothe.color.name %>
        </p>
      </div>
    <% end %>
    <% @clothes.each do |clothe| %>
      <div class="card mx-2 p-2 rounded">
        <p>
          <%= clothe.categories.first.name + " de couleur " + clothe.color.name %>
        </p>
        <%= form_with url: create_element_path, method: :post do |f| %>
          <%= f.hidden_field :clothe_id, value: clothe.id %>
          <%= f.submit "", class: "btn btn-primary"%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
